<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>

<% if @message %>
  <p><%=@message%></form>
<% end %>

<% form_for :user, url_for( :people, :signup) do |form|%>  

  <% field_set_tag do %>
    <%= form.label :name %>
    <%= form.text_field :name %>
  <% end %>

  <% field_set_tag do %>
    <%= form.label :username %>
    <%= form.text_field :username %>
  <% end %>


  <% field_set_tag do %>
    <%= form.label :password %>
    <%= form.text_field :password %>
  <% end %>

  <%= submit_tag "Save" %>

<%end%>
</body>
</html>